@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Poppins", sans-serif;
    background-color: rgb(82, 82, 82);

}

.first {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(21, 21, 21);
    overflow: hidden;
    
    
}

.first::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(assets/young-woman-studying-japanesestyle-room_1282444-98678.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    opacity: 0.7;
    z-index: 1;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 1rem;
    animation: fall linear infinite;
    z-index: 2;
   
}

.snowflake {
    position: fixed;
   
    top: -10px;
    color: white;
    font-size: 1rem;
    animation: fall linear infinite;
    z-index: 9999;
    
    pointer-events: none;
    
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.title {
    background-color: rgba(82 82 82 / 0.66);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70px;
    font-weight: 500;
    width: 387px;
    border-radius: 40px;
    padding: 0px 8px 0px 8px;
    margin: auto;
    align-items: center;

    position: relative;
    z-index: 3;
   
    color: rgb(0, 0, 0);
    top: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82 82 82);
    color: white;
    height: 50px;
}

.leftsection {
    margin-left: 20px;
}

.rightsection ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.rightsection ul li:hover {
    cursor: pointer;
    font-size: 1.02rem;
}

.rightsection a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.contents {

    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 90px;
    height: 330px;
}

.contentbutton {
    
    border: none;
    border-radius: 18px;
    color: black;
    height: 50px;
    min-width: 150px;
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(213 184 155 / 0.53);
}

.contentbutton:hover {
    cursor: pointer;
    background-color: #c4a78b;
}

.contribute {
    margin-top: 18px;
}

.contributebtn {
    height: 78px;
    width: 200px;
    font-size: 2rem;
    background-color: rgba(213 184 155 / 0.53);
    border: none;
    border-radius: 24px;
    font-weight: 700;
}

.contributebtn:hover {
    cursor: pointer;
    background-color: #c4a78b;
}

.resources {
    display: flex;
    justify-content: center;
    gap: 40px;
   
    margin-top: 200px;
    z-index: 2;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
        
    }

    50% {
        transform: translateY(-10px);
        
    }

    100% {
        transform: translateY(0);
        
    }
}

.resbtn {
    border: none;
    border-radius: 18px;
    color: black;
    height: 85px;
    width: 220px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 184, 155, 0.53);
    animation: scrollAnimation 2s infinite;
    
}

.resbtn:hover {
    cursor: pointer;
    background-color: #c4a78b;
    animation: none;
   
}

.restitle {
    width: 480px;
    margin: 91px 0px 0px 120px;
    font-size: 42px;
    background-color: rgba(82 82 82 / 0.66);
    border-radius: 38px;
    padding: 0px 0px 0px 18px;
    font-weight: 500;
}

.restitle h1 {


    background: linear-gradient(90deg, #ff6ec4, #7873f5, #42e695, #ff6ec4);
   
    background-size: 300%;
    
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    animation: gradientAnimation 3s infinite;
   
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
       
    }

    50% {
        background-position: 100% 50%;
        
    }

    100% {
        background-position: 0% 50%;
        
    }
}



.second {
    position: relative;
    z-index: 3;
    background-color: rgb(21, 21, 21);
    
    margin-top: 20px;
    
    overflow: hidden;
    
    height: 100vh;
}

.second::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/cartoon-lofi-young-manga-style-girl-studying-while-listening-music-raining-street-ai-generative_123827-24916.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    
    z-index: 1;
   
}

.restitle,
.resources {
    position: relative;
    z-index: 2;
   
}

.icons {
    height: 46px;
    width: auto;
}

footer {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.creatorinfo {
    border: 10px solid;
    border-image: linear-gradient(90deg, #ff6ec4, #7873f5, #42e695, #ff6ec4) 1;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 24vw;
    margin: auto;
    margin-top: 70px;
    color: white;
    background-color: rgba(82 82 82 / 0.66);
    padding: 15px;
    z-index: 3;
    position: relative;
}

.creatorinfo a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.menu-toggle{
    display: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 2rem;
    
}
.menu-toggle {
    display: none; 
    font-size: 2rem;
    cursor: pointer;
    color: white;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -210px; 
    width: 210px;
    height: 100%;
    background-color: rgb(82, 82, 82);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.sidebar.show {
    left: 0; 
}
.creatorinfo2{
  border: 10px solid;
  border-image: linear-gradient(90deg, #ff6ec4, #7873f5, #42e695, #ff6ec4) 1;
  position: relative;
  z-index: 3;
  top: 20vh;
  display: flex
;
  flex-direction: column;
  background-color: rgba(161 144 129 /0.66);
  align-items: center;
  justify-content: center;
  white-space: normal;
  height: auto;
  width: fit-content;
  
  margin: auto;
}
.creatorinfo2 h1{
  white-space: nowrap;
}
.creatorinfo2 a{
  text-decoration: none;
    color: white;
    font-size: 16px;

}
.contributetext{
    position: relative;
    z-index: 3;
    max-width: 84vw;
    margin: auto;
    top: 60px;
    background-color: rgba(82 82 82 / 0.66);
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    border: 10px solid;
    
    border-image: linear-gradient(90deg, #ff6ec4, #7873f5, #42e695, #ff6ec4) 1;
}
.contributetext a{
    text-decoration: none;
    color: rgb(20, 45, 43);
    font-size: 20px;
    font-weight: 700;
}


@media screen and (max-width: 431px) {
    .menu-toggle {
        display: block; 
    }

    .rightsection {
        display: none;
    }
}


  @media screen and (max-width: 1025px) {
    .contents {
        top: 170px;
        height: 550px;

    }

    .contributebtn {
        width: 255px;
        font-size: 49px;
        height: 115px;

    }

    .contentbutton {
        height: 105px;
      min-width: 190px;
        font-size: 49px;

    }

    .title {
        font-size: 92px;
        width: 524px;
    }

    .resources {
        display: grid;
        grid-template-columns: 35vh 2fr;
        grid-template-rows: 30vw 2fr;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 137px;

    }
    .resbtn{
        height: 134px;
    width: 330px;
    font-size: 38px;
    }
    .restitle{
        width: 64vw;
        font-size: 3rem;
    }
    .creatorinfo{
        max-width: 40vw;
        margin-top: 10vh;
    }

}
  
  @media screen and (max-width: 431px) {
    .rightsection{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    
    .contents{
        top: 90px;
    height: 330px;
    }
    .contentbutton{
        height: 50px;
    
    font-size: 30px;
    }
    .contributebtn{
        height: 78px;
    width: 200px;
    font-size: 2rem;
    }
    .resources {
        display: flex;
      flex-direction: column;
      align-items: center;
      gap: 37px;
      margin-top: 35px;
    }
    .restitle {
      margin: 71px 0px 41px 6px;
      font-size: 2rem;
      width: 88vw;
    }
    .resbtn{
        height: 85px;
    width: 220px;
    font-size: 25px;
    }
    .title {
      font-size: 4rem;
      width: 96vw;
    }
    .creatorinfo {
        max-width: 90vw;
      }
      .creatorinfo2{
        top: 26vh;
      }
        
  }
  
  @media screen and (max-width: 391px) {
    .creatorinfo {
      margin-top: 31px;
      max-width: 85vw;
    }
  }
  
  @media screen and (max-width: 376px) {
    .resources {
      gap: 22px;
    }
    .resbtn {
      height: 64px;
      width: 190px;
      font-size: 20px;
    }
    .creatorinfo {
      max-width: 58vw;
      margin-top: 24px;
      padding: 6px;
    }
    .creatorinfo h1,
    .creatorinfo a {
      font-size: 14px;
    }
    .creatorinfo2{
        width: 90vw;
        top: 18vh;
    }
    .creatorinfo2 h1{
        font-size: 1.3rem;
    }
  }
